  <div jslog="24224" class="yTqMd">

    <div class="wSFSne">
      <div class="szh09c fontHeadlineSmall font-bold" aria-label="EVgo Charging Station" jsaction=
      "pane.wfvdle1663" jslog="149410; track:click">
        <strong><%= poi.name %>
            <%= link_to poi.name, poi %>
        </strong> 
      </div>
    </div>
    <span>
        <span class="NrSyHc">
            <span class="fontBodySmall">
                <span class="ZkP5Je" role="img" aria-label="3.0 stars 2 Reviews">
                    <span class="MW4etd font-bold" aria-hidden="true">
                        3.0
                    </span>
                </span>
            </span>
        </span>
    </span>

    <span class="UY7F9" aria-hidden="true">(2)</span>

    <div class="HVpXgd fontBodySmall">
      <span class="Kzumzc" aria-label="Electric vehicle charging station">
      </span>
      <span class="Kzumzc" aria-label="<%= poi.formatted_address %>">
        <%= poi.formatted_address %>
      </span>
    </div>
  </div>